@model ForumProject.Models.ForumPost

@{
    ViewData["Title"] = "Details";
}
<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Author)</h4>
    <h6>@Html.DisplayFor(model => model.DateCreated)</h6>
    <hr />
    <p>@Html.DisplayFor(model => model.Description)</p>
    <hr />
</div>
<div>
    @{
        var newComment = new ForumProject.Models.PostComment
            {
                PostID = Model.ID,
                //CommentAuthor = User.Identity.Name
            };
    }
    @Html.Partial("_CommentForm", newComment)
</div>
<div>
    <br />
    <h5>Comments:</h5>
    @if (Model.Comments.Any())
    {
        <ul>
            @foreach (var comment in Model.Comments)
            {
                <p>@comment.CommentAuthor:</p>
                <p>@comment.Body</p>
            }
        </ul>
    }
    else
    {
        <p>This post does not have comments yet. Be the first to comment!</p>    
    }
</div>
<div>
    <form method="post">
        <button asp-action="Index">Back to List</button>
        @if (User.Identity.Name == Model.Author)
        {
            <button asp-action="Edit" asp-route-id="@Model?.ID" type="submit">Edit</button>
            <button asp-action="Delete" asp-route-id="@Model?.ID" type="submit">Delete</button>
        }
    </form>
</div>
