@model IEnumerable<ForumProject.Models.ForumPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table>
    <tr>
        @foreach(var item in Model)
        {
            <div>
                <h1><a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a></h1>
                <p>By @Html.DisplayFor(modelItem => item.Author) Created @Html.DisplayFor(ModelItem => item.DateCreated)</p>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        }
    </tr>
</table>
